<TMPL_INCLUDE NAME="p6templates/include/header.tmpl">

<p>
WhiteCamel.org is built and maintained by <a href="http://szabgab.com/">Gabor Szabo</a> the recipient 
of one of the awards in 2008.
</p>
<p>
The site is currently built from the data listed on the <a href="http://www.perl.org/advocacy/white_camel/">White Camel Awards</a>
page of perl.org, an INI file maintained by Gabor and some HTML::Template files using a script written in 
<a href="http://www.perl.org/">Perl</a>.
</p>

<p>
The plans are to include 
<ul>
<li>A photo of the person (make the more easy to recognise at events, make the profile more personal) 
- provided by the recipient of course and if they don't want to submit one, that's fine.
<li>A bio/profile of the person, what they do.  Not all the white camel nominations/award texts tell the whole story, 
   so it could be cool to have 4 - 6 paragraphs from the person about what they do in/for the Perl community
<li>A story of how that person got into Perl in the first place, 
and perhaps links to conferences they attend or their local Perl Mongers group.
<li>A calendar of forthcoming speaking engagements.
<li>etc...
</ul>
</p>

<TMPL_INCLUDE NAME="p6templates/include/footer.tmpl">
