<TMPL_INCLUDE NAME="p6templates/include/header.tmpl">

<h1>White Camel Award</h1>
<p>
The White Camel Award
is given annually to several members of the Perl community to acknowledge 
their effort in making the Perl community better for all of us.
</p>

<ul>
<TMPL_LOOP PEOPLE>
	<li><a href="p/<TMPL_VAR NAME>.html"><TMPL_VAR NAME></a></li>
</TMPL_LOOP>
</ul>

<p>
Text written mostly by brian d foy. Josh McAdams wrote the entries for 2008.
</p>

<TMPL_INCLUDE NAME="p6templates/include/footer.tmpl">
