
  <div class="row">
    <div class="twelve columns" style="margin-top: 5%">
      <p>
        Powered by <a href="https://www.perl.org/">Perl</a> &#10084;&#65039;. / Site maintained by <a href="https://szabgab.com/">Gabor Szabo</a>. / Source code on <a href="https://github.com/szabgab/whitecamel.org">GitHub</a> &#x1F42B;.
      </p>
      <p class="footer-text">
        <em>Generated on <TMPL_VAR NAME=TIME></em> <br/>
        <em>Text based on <a href="https://www.perl.org/advocacy/white_camel/">the original announcements</a>, written mostly by brian d foy. Josh McAdams wrote the entries for 2008.</em>
      </p>
      <p></p>
    </div>
  </div>
  </div>

</body>
</html>
