  <footer class="footer">
<hr class="soften">
      <p>
      Generated on <TMPL_VAR NAME=TIME>
      </p>
      <p>
      Powered by <a href="http://www.perl.org/">Perl</a>
      </p>
      <p>
      Text based on the <a href="http://www.perl.org/advocacy/white_camel/">original announcements</a>,
      written mostly by brian d foy. Josh McAdams wrote the entries for 2008. Site maintained by Gabor Szabo.
      <a href="https://github.com/szabgab/whitecamel.org">source</a>
      </p>
  </footer>

</div> <!-- /container -->

</body>
</html>



