
  <div class="row">
    <div class="twelve columns" style="margin-top: 5%">
      <p>
        Powered by Perl &#10084;&#65039; / <a href="https://github.com/szabgab/whitecamel.org">Site maintained by Gabor Szabo.</a> &#x1F42B;
      </p>
      <p class="footer-text">
        <em>Generated on Mon Jul 17 22:49:39 2023</em> <br/>
        <em>Text based on <a href="https://www.perl.org/advocacy/white_camel/">the original announcements</a>, written mostly by brian d foy. Josh McAdams wrote the entries for 2008.</em>
      </p>
      <p></p>
    </div>
  </div>
  </div>

</body>
</html>