<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><TMPL_VAR TITLE></title>
  <meta name="description" content="The White Camel Awards recognize the many significant contributions made by the unsung heros of the Perl community.">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Mobile Specific Metas -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/skeleton.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="full column" style="margin-top: 5%">
        <h1>Perl White Camel Award</h1>
        <a class="button" href="/">List of Award Recipients &#127942;</a>
        <a class="button" href="/sponsors.html">Sponsors &#10084;&#65039;</a>
      </div>
    </div>
