BODY { 
	background: #ffffff; 
	font-family: Arial;
}

.warning {
	color: red;
	font-size: 20pt;
}

#pageHeader { 
	background: #dddddd; 
	margin-top: 10px; 
	margin-left: 25px; 
	margin-bottom: 0px; 
	width: 220px; 
	height: 37px; 
	padding: 0px 10px 0px 10px; 
	font-size: 30pt;
	font-weight: bold;
	color: #555555;
}

#pageTitle { 
	background: white; 
	margin-top: 0px; 
	margin-bottom: 20px;
	height: 18px; 
	padding: 0px 0px 0px 20px; 
	font-size: 12pt;
	/*font-weight: bold;*/
	color: #333333;
	border: solid thin;
	border-color: #333333;
}

.navigation  {
	margin-top: 20px; 
	margin-bottom: 20px; 
	font-size: 10pt;
	text-align: center; 
	padding-bottom:1px;
/*	width: 780px;*/
}
.perlads li {
    display: inline;
    padding: 4px;
}

.message {
	color: #000000;
}
TABLE.message {
	border-width: 3px;
	border-style: groove;
	/*border-collapse: no; */
	table-layout: fixed;
	/*align: */
	width: 90%;
}
.message_row_head {
	background: white;
	font-size: 10pt;
}
.message_row_subject {
	background: white;
/*	background: red;*/
}

.message_row_text {
	background: white;
/*	background: yellow;*/
}
.message_row_foot {
	background: white;
	font-size: 10pt;
}


A       {
	color: #003399;
}

A:visited {
	color: #663399;
}

TABLE.posts { 
	margin: 5px 0px 5px 0px;
	border: solid thin;
	border-color: #333333;
}

.posts_head {
	background-color: #E8EBEF;
	border: #B1BDC9 solid thin;
}

.odd {
	background: #bbbbbb;
}
.even {
	background: #aaaaaa;
}
.odd:hover {
	background: yellow;
}
.even:hover {
	background: yellow;
}

.odd TD:hover {
	background: red;
}
.even TD:hover {
	background: red;
}

.odd TD, .even TD {
	padding: 0ex 0ex 0ex 1px;
	vertical-align: baseline;
}

/*
.threads_odd TD {
	background: #dddddd;
	border-style: solid;
	border-width: 2px;
}

.threads_even TD {
	border-style: solid;
	border-width: 2px;
}
*/

TD {
	margin:  0;
	padding: 0;
}


.col1 {
	width: 25%;
}

.col2 {
	width: 50%;
}

.col3 {
	width: 5%;
}

.col4 {
	width: 10%;
}

.col5 {
	width: 10%;
}

.faq {
	padding: 0.2ex 0.4ex;
}

.faq DT {
	font-size: 1.2em;
	font-weight: bold;
}

.faq DD {
	margin-bottom: 10px;
}

.about_list {
	font-size: 14pt;
}

.about_title {
	margin-top: 0px; 
	background: white; 
	height: 18px; 
	padding: 0px 0px 0px 20px; 
	font-size: 12pt;
	color: #333333;
	margin-bottom: 20px;
	border: solid thin;
	border-color: #333333;
}


.posting_rules {
	margin-top: 10px;
}


IMG { 
	border: 0; 
}

FORM { 
	margin: 0; 
}

INPUT {
	margin: 2px; 
}

.title {
	font-size: 16pt;
	font-weight: bold;
}

.postrules {
	font-size: 9pt;
}

.left_footer {
	font-size: 8pt;
}

.right_footer {
	font-size: 8pt;
    text-align: right;
}

.error {
	color: red;
}

.links {
/*	background: lightyellow; */
	background: #eeeeee;
	text-align: center; 
}


.text {
	background: #eeeeee;
/*	white-space: pre;*/
	/*table-width: 80%;*/
}
.code {
	background: #dddddd;
	white-space: pre;
}

.nextmark {
	color: red;
}

.preview  {
	/*background: #444444;*/
}


.date {
	background: transparent;
	color: #008000;
}

.blurb {
	padding: 2ex 1ex;
	width: 70%;
}

#title {
	margin: 30px;
	font-size: 34px;
	text-align: center;
}
#title a {
	text-decoration: none;
}

