<TMPL_INCLUDE NAME="templates/include/header.tmpl">

  <div class="row" style="margin-top: 5%">
    <div id="current-winner" class="seven columns award-winners">
      <h5>Congratulations to the <b>2022 White Camel!</b></h5>
      <TMPL_LOOP CURRENT>
      <a href="p/<TMPL_VAR ID>.html"><h4><TMPL_VAR NAME></h4></a>
      </TMPL_LOOP>
    </div>
    <div id="award-description" class="five columns">
      <p>
        The White Camel Award is given annually to one member of the Perl community 
        to acknowledge their effort in making the Perl community better for all of us.
        Prior to the 2022 award, the White Camel was given to one or more recipients each year.
      </p>
    </div>
  </div>

  <div class="row award-winners">
    <div class="one-third column">
      <ul>
        <TMPL_LOOP PEOPLE_COL1>
        <li><a href="p/<TMPL_VAR ID>.html"><TMPL_VAR NAME></a></li>
        </TMPL_LOOP>
      </ul>
    </div>
    <div class="one-third column">
      <ul>
        <TMPL_LOOP PEOPLE_COL2>
        <li><a href="p/<TMPL_VAR ID>.html"><TMPL_VAR NAME></a></li>
        </TMPL_LOOP>
      </ul>
    </div>
    <div class="one-third column">
      <ul>
        <TMPL_LOOP PEOPLE_COL3>
        <li><a href="p/<TMPL_VAR ID>.html"><TMPL_VAR NAME></a></li>
        </TMPL_LOOP>
      </ul>
    </div>
  </div>

<TMPL_INCLUDE NAME="templates/include/footer.tmpl">
