<TMPL_INCLUDE NAME="templates/include/header.tmpl">



<header class="jumbotron masthead">
 <div class="inner">
  <h1><a href="/">White Camel Award</a></h1>
  <p>
  The White Camel Award
  is given annually to several members of the Perl community to acknowledge
  their effort in making the Perl community better for all of us.
  </p>

 </div>
</header>


Congratulations to the <TMPL_VAR YEAR> White Camels!
<div id="current">
<ul>
<TMPL_LOOP CURRENT>
 <li><a href="p/<TMPL_VAR ID>.html"><TMPL_VAR NAME></a>
   <img src="/img/<TMPL_VAR IMG>" />
 </li>
</TMPL_LOOP>
</ul>
</div>

<hr />

<div id="list">
<ul>
<TMPL_LOOP PEOPLE>
 <li><a href="p/<TMPL_VAR ID>.html"><TMPL_VAR NAME></a></li>
</TMPL_LOOP>
</ul>
</div>

<TMPL_INCLUDE NAME="templates/include/footer.tmpl">
