<TMPL_INCLUDE NAME="templates/include/header.tmpl">

<TMPL_IF URL>
   <h1><a href="<TMPL_VAR URL>"><TMPL_VAR NAME></a></h1>
<TMPL_ELSE>
	<h1><TMPL_VAR NAME></h1>
</TMPL_IF>
<p>
Award received in <TMPL_VAR YEAR>.
</p>
<p>
<TMPL_VAR BLOB>
</p>

<TMPL_IF GITHUB>
    <a href="https://github.com/<TMPL_VAR GITHUB>">GitHub</a>
</TMPL_IF>

<TMPL_IF LINKEDIN>
   <a href="https://linkedin.com/in/<TMPL_VAR LINKEDIN>">LinkedIn</a>
</TMPL_IF>

<TMPL_INCLUDE NAME="templates/include/footer.tmpl">
